<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hoh.model.mapper.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.example.hoh.model.entity.Category" >
    <id column="category_ID" property="categoryId" jdbcType="INTEGER" />
    <result column="display_name" property="displayName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    category_ID, display_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from category
    where category_ID = #{categoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from category
    where category_ID = #{categoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.hoh.model.entity.Category" >
    insert into category (category_ID, display_name)
    values (#{categoryId,jdbcType=INTEGER}, #{displayName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.hoh.model.entity.Category" >
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        category_ID,
      </if>
      <if test="displayName != null" >
        display_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="displayName != null" >
        #{displayName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.hoh.model.entity.Category" >
    update category
    <set >
      <if test="displayName != null" >
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
    </set>
    where category_ID = #{categoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.hoh.model.entity.Category" >
    update category
    set display_name = #{displayName,jdbcType=VARCHAR}
    where category_ID = #{categoryId,jdbcType=INTEGER}
  </update>
</mapper>