<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hoh.model.mapper.RecipeCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.example.hoh.model.entity.RecipeCategoryKey" >
    <id column="recipe_ID" property="recipeId" jdbcType="INTEGER" />
    <id column="category_ID" property="categoryId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.example.hoh.model.entity.RecipeCategoryKey" >
    delete from recipe_category
    where recipe_ID = #{recipeId,jdbcType=INTEGER}
      and category_ID = #{categoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.hoh.model.entity.RecipeCategoryKey" >
    insert into recipe_category (recipe_ID, category_ID)
    values (#{recipeId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.hoh.model.entity.RecipeCategoryKey" >
    insert into recipe_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recipeId != null" >
        recipe_ID,
      </if>
      <if test="categoryId != null" >
        category_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recipeId != null" >
        #{recipeId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>